*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

ul{
    list-style-type:none;
}

@media (min-width: 768px) {
    /*小于768屏幕不加此效果*/
    .info-content{
        background-color: #fff;
        box-shadow: 2px 2px 3px #ccc;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
}

/*导航栏*/
.logo{
    padding: 0;
    padding-left: 20px;
}

.topName{
    background: url("../img/bg.jpg");
    padding: 60px 0;

}

.info-content h3{
    color: #333;
    font-size: 18px;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    margin: 0 0 10px 0;
}
.info-content p{
    line-height: 2;
    font-size: 13px;
}

/*页脚*/
.footer{
    background-color: #222222;
    border-top:1px solid #ccc;
    padding: 20px;
    text-align: center;
    color: #eee;
}
.footer_a{
    color: white;
}
.footer_a:active{
    color: white;

}
.footer_a:hover{
    color: white;
    text-decoration: none;
}