*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.topName{
    background: url("../img/bg.jpg");
    padding: 60px 0;
    /*margin: 0 0 0 0;*/
    /*color: white;*/
}
ul{
    list-style-type:none;
}
.p_title{
    text-indent:2em;
}
.btn-block2 {
    display: block;
    margin-left: 20%;
    width: 60%;
}

/* 小屏幕*/
@media (max-width: 767px) {

}
@media (min-width: 768px) {
    /*小于768屏幕不加此效果*/
    .info-content{
        background-color: #fff;
        box-shadow: 2px 2px 3px #ccc;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }

    .map_text{
        padding: 40px;
    }
}
/* 中等屏幕*/
@media (min-width: 992px) {

    .map_text{
        padding: 50px;
    }

}
/* 大屏幕*/
@media (min-width: 1200px) {

    .map_text{
        padding: 50px;
    }
}
/*导航栏*/
.logo{
    padding: 0;
    padding-left: 20px;
}

.group_name a{
    padding: 20px;
}

.info-content h3{
    color: #333;
    font-size: 18px;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    margin: 0 0 10px 0;
}
.info-content p{
    line-height: 2;
    font-size: 13px;
}
.logo_img{
    margin-top: -20px;
}
.logo_img li{
    float: left;
    width: 20%;
    cursor: hand;
}
.logo_img li img{
    width: 100%;
    transform:scale(0.4,0.4);
    -moz-transform:scale(0.4,0.4);
    -webkit-transform:scale(0.4,0.4);

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.logo_img img:hover{
    transform:scale(0.9,0.9);
    -moz-transform:scale(0.9,0.9);
    -webkit-transform:scale(0.9,0.9);
}

.modal_show{
    text-align: center;
}
.modal_img{
    height: 140px;
    margin: 5px auto;
}


/*页脚*/
.footer{
    background-color: #222222;
    border-top:1px solid #ccc;
    padding: 20px;
    text-align: center;
    color: #eee;
}
.footer_a{
    color: white;
}
.footer_a:active{
    color: white;

}
.footer_a:hover {
    color: white;
    text-decoration: none;
}